@model GetByIdProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Yeni Ürün Güncelleme</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tbody>
                        <form method="post" enctype="multipart/form-data">
                            <div class="container">
                                <br /><br />
                                <input type="hidden" asp-for="ProductId" class="form-control" />
                                <label>Ürün Görsel Url</label>
                                <input type="text" asp-for="ImageUrl" class="form-control" />
                                <br />
                                <label>Ürün Adı</label>
                                <input type="text" asp-for="Title" class="form-control" />
                                <br />
                                <label>Ürün Fiyat</label>
                                <input type="text" asp-for="Total" class="form-control" />
                                <br />
                                <label>Ürün Kategori</label>
                                <select class="form-control" id="val-skill" asp-for="CategoryId">
                                  
                                    @foreach (var item in ViewBag.Category)
                                        {
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                        }
                                </select>
                                <br />
                                <label>Ürün Öne Çıksın Mı?</label>
                                <select class="form-control" id="val-skill" asp-for="IsFeature">
                                    <option value="">Seçiniz</option>
                                    <option value="true">Evet</option>
                                    <option value="false">Hayır</option>
                                </select>
                                <br />
                                <label>Açıklama</label>
                                <textarea rows="6" asp-for="Description" class="form-control"></textarea>
                                <br />
                                <button type="submit" class="btn btn-primary">Ürünü Güncelle</button>
                                <br /><br />
                            </div>
                        </form>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
