
﻿@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminHeadComponentPartial")

<body class="">
    @await Component.InvokeAsync("_AdminSidebarComponentPartial")
    <div class="main-content">
        @await Component.InvokeAsync("_AdminNavbarComponentPartial")

        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">

                <script type="text/javascript">
                    $(document).ready(() => {
                        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7159/SignalRHub").build();
                        $("#connstatus").text(connection.state);
                        connection.start().then(() => {
                            $("#connstatus").text(connection.state);
                            setInterval(() => {
                                connection.invoke("SendStatistic");
                            }, 1000);
                        }).catch((err) => { console.log(err) });

                        connection.on("RezervationCount", (valueRez) => {
                            $("#rezervationcount").text(valueRez);
                        });
                        connection.on("CategoryCount", (valueCtgry) => {
                            $("#categorycount").text(valueCtgry);
                        });
                        connection.on("TableFullCount", (valueTable) => {
                            $("#tablefullcount").text(valueTable);
                        });
                        connection.on("ProductCount", (valueProduct) => {
                            $("#productcount").text(valueProduct);
                        });
                    });
                </script>
                <div class="header-body">
                    <!-- Card stats -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">REZERVASYONLAR</h5>
                                            <span class="h2 font-weight-bold mb-0" id="rezervationcount"></span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                <i class="fas fa-chart-bar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-angle-double-right"></i></span>
                                        <span class="text-nowrap">Toplam Rezervasyon Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">KATEGORİLER</h5>
                                            <span class="h2 font-weight-bold mb-0" id="categorycount"></span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                                <i class="fas fa-chart-bar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-danger mr-2"><i class="fa fa-angle-double-right"></i></span>
                                        <span class="text-nowrap">Toplam Kategori Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">ÜRÜNLER</h5>
                                            <span class="h2 font-weight-bold mb-0" id="productcount"></span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                                <i class="fas fa-chart-bar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-warning mr-2"><i class="fa fa-angle-double-right"></i></span>
                                        <span class="text-nowrap">Toplam ürün Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Dolu Masalar</h5>
                                            <span class="h2 font-weight-bold mb-0" id="tablefullcount"></span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                                <i class="fas fa-chart-bar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fa fa-angle-double-right"></i></span>
                                        <span class="text-nowrap">Dolu Masa Sayısı</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-8 mb-5 mb-xl-0">
                    <div class="card bg-gradient-default shadow">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-light ls-1 mb-1">
                                        GENEL BAKIŞ
                                    </h6>
                                    <h2 class="text-white mb-0">Rezervasyon İstatistik</h2>
                                </div>
                                <div class="col">
                                    <ul class="nav nav-pills justify-content-end">
                                        <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="TL" data-suffix="k">
                                            <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                                <span class="d-none d-md-block">Aylık</span>
                                                <span class="d-md-none">M</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="TL" data-suffix="k">
                                            <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                                <span class="d-none d-md-block">Haftalık</span>
                                                <span class="d-md-none">W</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Chart -->
                            <div class="chart">
                                <!-- Chart wrapper -->
                                <canvas id="chart-sales" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card shadow">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Analiz</h6>
                                    <h2 class="mb-0">Toplam siparişler</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Chart -->
                            <div class="chart">
                                <canvas id="chart-orders" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            @await Component.InvokeAsync("_AdminFooterComponentPartial")
        </div>
    </div>
    <script src="~/argon-dashboard-master/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
    <script src="~/argon-dashboard-master/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
    @await Component.InvokeAsync("_AdminScriptComponentPartial")
</body>
</html>

